*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 100%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;padding: 0;
}

li {
    list-style: none;
    cursor: pointer;
}

input{
    border: 1px solid purple;
  
    padding: 0px 0px;
}
input:focus {
    outline: none;
}



@media (min-width: 1400px) {
    .container {
        width: 1320px;
        /* width: 100%; */
    }
}

@media (max-width: 1399px) {
    .container {
        width: 1320px;
        /* width: 100%; */
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
        /* width: 100%; */
    }
}

@media (max-width: 992px) {
    .container {
        width: 960px;
        /* width: 100%; */
    }
}

@media (max-width: 768px) {
    .container {
        width: 720px;
        /* width: 100%; */
    }

}

@media (max-width: 575px) {}